.call-to-action {
  box-sizing: border-box;
  min-height: 250px;
  background: {
    repeat: no-repeat;
    position: center;
  }

  &--offer {
    padding: 53px 65px 46px 500px;
    background: {
      color: $colorBackgroundOffer;
      image: url("../img/offer_bg.jpg");
    }
  }

  &--subscribe {
    padding: 47px 467px 43px 98px;
    background: {
      color: $colorBackgroundSubscribe;
      image: url("../img/subscribe_bg.jpg");
    }
  }
}

.call-to-action__content {
  width: 550px;
  text-align: center;
}

.call-to-action__title {
  @extend %title;

  .call-to-action--offer & {
    margin-bottom: 11px;
  }

  .call-to-action--subscribe & {
    margin-bottom: 12px;
  }
}

.call-to-action__subtitle {
  @extend %subtitle;

  .call-to-action--offer & {
    margin-bottom: 30px;
  }

  .call-to-action--subscribe & {
    margin-bottom: 24px;
    font-size: $fontSizeMedium;
  }
}
