.main-nav {
  @extend %list-reset;
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
}

.main-nav__item {
  margin: {
    right: 50px;
    left: 50px;
  }

  a {
    @extend %title-header;
    font-size: $fontSizeSmall;
    line-height: $lineHeightNav;
    letter-spacing: $letterSpacingNav;
  }
}
